<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://img.ltwebstatic.com/images3_pi/2022/12/28/16721933133dbd510932868ca39ffff6e0be7862bf_thumbnail_600x.webp"
      cardTitle="Conjunto Dazy Shein"
      cardDescription="Dazy moda feminina"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Acessórios"
      photoCover="https://img.ltwebstatic.com/images3_pi/2023/07/31/1690767348aba41af39ad52a09596725375773d74d_thumbnail_600x.webp"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Para o cabelo"
      photoCover="https://img.ltwebstatic.com/images3_pi/2022/09/21/1663727047984da87141063280ec8f3442bc1d9a22.webp"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Clique para mais"
      photoCover="https://img.ltwebstatic.com/images3_pi/2023/09/04/bf/1693806417a3199cf2a69b80f6bbe345d6d7e288a9_thumbnail_600x.webp"
    >
    </app-small-card>
  </div>
</div>
